.countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.country{
    text-align: center;
    width: 300px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    background-color: aquamarine;
}
.country img{
    width: 250px;
    height: 150px;
    object-fit: fill;
}